<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
cd /android/exodus
BuildVendor=new
BuildDev=new
BuildDevice=bacon
BuildJobCount=12
SourcePath=/android/${BuildDev}
mkdir /ccache/new
#Buildscript
cd ${SourcePath}

export BUILD_WITH_COLORS=0
export USE_CCACHE=1
export CCACHE_DIR=/ccache/${BuildDev}/${BuildDevice}
prebuilts/misc/linux-x86/ccache/ccache -M 10G
#prebuilts/misc/linux-x86/ccache/ccache -C
export USE_PREBUILT_CHROMIUM=1

source build/envsetup.sh
if [ -a out/target/product/${BuildDevice}/system/build.prop ]; then
    rm out/target/product/${BuildDevice}/system/build.prop
fi
#lunch ${BuildVendor}_${BuildDevice}-userdebug
#mka clobber
make clobber
#export VANIR_PARALLEL_JOBS=&quot;-j$BuildJobCount&quot;
#mka bacon
breakfast bacon
brunch bacon</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>