<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
#source=/android/exodus-merger
source=/android/exodus
cd $source

echo ${source}
repos=(&quot;frameworks_base&quot; &quot;vendor_vanir&quot; &quot;system_core&quot; &quot;device_oneplus_bacon&quot; &quot;bionic&quot; &quot;libcore&quot; &quot;external_tinycompress&quot; &quot;frameworks_av&quot; &quot;device_oppo_msm8974-common&quot; &quot;frameworks_native&quot; &quot;art&quot; &quot;external_skia&quot;)
for i in &quot;${repos[@]}&quot;
do
echo &quot;pushing ${i}&quot;
gerritexodus ${source} $i EXODUS
done</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>