<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>0 22 * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
cd /android/exodus
#repo sync -j12
if [ ! -d .repo/snapshots ]; then
   mkdir .repo/snapshots
   cd .repo/snapshots
   git init
   git remote add exodus git@github.com:TeamExodus/nightly_build_manifest_snapshots
   git fetch exodus
   git checkout exodus/EXODUS
   cd /android/exodus
else
   cd .repo/snapshots
   git fetch exodus
   git checkout exodus/EXODUS
   cd /android/exodus
fi
thetime=`date +%Y-%m-%d--%H%M%S` #
repo manifest -o .repo/snapshots/nightly_$thetime.xml -r
cd .repo/snapshots
git add nightly_$thetime.xml
echo &quot;Nightly push for $thetime &quot; &gt;~/snapshotcommit
git commit -F ~/snapshotcommit
rm ~/snapshotcommit
git push exodus HEAD:EXODUS
cd /android/exodus
rm -rf out
rm Changelog-*.txt</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>Exodus Build Google Devices,Exodus Build HTC Devices,Exodus Build LG Devices,Exodus Build Motorola Devices,Exodus Build OnePlus and Oppo Devices,Exodus Build Samsung devices,Exodus Build Sony Devices,Exodus Build Nvidia Devices</childProjects>
      <threshold>
        <name>UNSTABLE</name>
        <ordinal>1</ordinal>
        <color>YELLOW</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>