<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

#command to compile the roms
#/android/compile.sh is the mainscript with currently 4 parameters
#$1 = Vendorname for mka ${Vendor}_Device-userdebug
#$2 = Developer Name for the sourcefolder (currently vanir for stock vanir or exodus for vanired exodus)
#$3 = Device (eg bacon)
#$4 = Y/y for mka clobber or eg N for no clobber
#eg /android/compile.sh vanir vanir bacon n compiles the original vanir version of vanir (lol) for bacon with no clobber

/android/compile.sh vanir exodus jflteusc N


</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>